@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto+Slab:wght@100;300;500&display=swap");

* {
  font: 400 1rem "Poppins", sans-serif;
  color: $dark-grey;
}

@mixin font-preset--default {
  font: 400 1rem "Poppins", sans-serif;
  color: $dark-grey;
  @include mobile {
    font: 400 .8rem "Poppins", sans-serif;
  }
  @include tablet {
    font: 400 .9rem "Poppins", sans-serif;
  }
  @include desktop {
  }
}

@mixin font-preset--page-title {
  font: 600 2rem "Poppins", sans-serif;
  @include mobile {
    font: 600 1.5rem "Poppins", sans-serif;
  }
  @include tablet {
    font: 600 1.8rem "Poppins", sans-serif;
  }
  @include desktop {
  }
}

@mixin font-preset--label {
  font: 300 1rem "Roboto Slab", sans-serif;
  @include mobile {
    font: 300 .8rem "Roboto Slab", sans-serif;
  }
  @include tablet {
    font: 300 .9rem "Roboto Slab", sans-serif;
  }
  @include desktop {
  }
}

@mixin font-preset--api-message {
    font: 500 1rem "Roboto Slab", sans-serif;
    color: $green;
    @include mobile {
      font: 500 .8rem "Roboto Slab", sans-serif;
    }
    @include tablet {
      font: 500 .9rem "Roboto Slab", sans-serif;
    }
    @include desktop {
    }
  }

@mixin font-preset--tag {
  font: 600 1.1rem "Poppins", sans-serif;
  text-transform: lowercase;
  @include mobile {
    font: 600 0.9rem "Poppins", sans-serif;
  }
  @include tablet {
    font: 600 1rem "Poppins", sans-serif;
  }
  @include desktop {
  }
}
